@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.wordle-row {
  @apply block w-[60px] h-[60px] border-solid border-[1px] border-black m-1 text-center leading-[60px] uppercase font-bold text-lg;
}

.wordle-row--yellow {
  @apply bg-yellow-500
}

.wordle-row--grey {
  @apply bg-gray-500
}

.wordle-row--green {
  @apply bg-green-500
}